@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme inline {
  --color-background: var(--color-slate-900);
  --color-foreground: var(--color-slate-50);
  --color-foreground-muted: var(--color-slate-300);
  --color-primary: var(--color-sky-400);
  --color-primary-hover: var(--color-sky-300);
  --color-secondary: var(--color-pink-500);
  --color-secondary-hover: var(--color-pink-300);
  --color-warning: var(--color-yellow-400);
  --color-danger: var(--color-red-500);
  --color-divider: var(--color-slate-700);
}

@theme {
  --text-logo: clamp(1.75rem, 1.58rem + 0.83vw, 2.25rem);
  --text-shadow-logo: 0 0 22px var(--color-sky-400);
}
