@import 'tailwindcss';
@plugin '@tailwindcss/typography';

:root {
  --background: #0f172a;
  --foreground: #f8fafc;
  --primary: #38bdf8;
  --secondary: #a855f7;
  --warning: #facc15;
  --danger: #ef4444;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-warning: var(--warning);
  --color-danger: var(--danger);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

code[data-theme*=' '],
code[data-theme*=' '] span,
[data-rehype-pretty-code-figure] > pre:has(code[data-theme*=' ']) {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

@media (prefers-color-scheme: dark) {
  code[data-theme*=' '],
  code[data-theme*=' '] span,
  [data-rehype-pretty-code-figure] > pre:has(code[data-theme*=' ']) {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
}
